@*<div>
        <label>Введите email</label><br />
        <input type="email" id="email" /> <br /><br />
        <label>Введите пароль</label><br />
        <input type="password" id="password" /><br /><br />
        <label>Подтвердите пароль</label><br />
        <input type="password" id="confirmpassword" /><br /><br />
        <input type="submit" id="submit" value="Регистрация" />
    </div>*@

@if (User.Identity.IsAuthenticated)
{
    <div class="userInfo">
        <p>Вы вошли как: @User.Identity.Name <span class="userName"></span></p>
        <input type="button" value="Выйти" id="logOut" />
    </div>
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="loginForm">
        <h3>Вход на сайт</h3>
        <div class="form-group">
            <label>Введите email</label><br />
            <input class="form-control" type="email" id="emailLogin" />
            <small id="emailHelp" class="form-text text-muted">Если забыли логин или пароль, обратитесь к администратору.</small>
        </div>
        <div class="form-group">
            <label>Введите пароль</label>
            <input class="form-control" type="password" id="passwordLogin" />
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary" type="submit" id="submitLogin" value="Логин">Войти</button>
            </div>
            <div class="col-md-6">
                <a class="btn " href="/Home/Initial">Прогрузить данные &raquo;</a>
            </div>
        </div>
    </div>
}


