<div class="jumbotron">
    <h1>AppCosmetic</h1>
    <p class="lead">Панель управления. Здесь вы можете проверить новые отзывы, исправить данные</p>
    <p><a href="/Manage/Index" class="btn btn-primary btn-lg">К отзывам &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        @Html.Partial("_Login")
    </div>
    <div class="col-md-4">
        <h2>Данные защищены</h2>
        <p>Данные Api под надежной защитой. Редактировать данные могет только авторизованные пользователи</p>
        
    </div>
    <div class="col-md-4">
        <h2>CosmeticApp</h2>
        <p>Скачивайте приложение с Google play и App Store</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
